.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-form {
  width: 30%;
  max-width: 400px;
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.custom-form h1 {
  text-align: center;
  color: var(--primary-color);
}
